<%- include('./partials/topbasic.ejs', {page_title: 'Resume-Home'}) %>
<%- include('./partials/navbar.ejs', {page_title: 'Home'}) %>
<div class="home-section">
    <img class="home-page-img" src="images/prsn-img.png" alt="">
    <div class="about-me">
        <h1 class="hello-text">Hello,</h1>
        <h6 class="para"><span class="hello-text vis-hidden">Hello,</span> I am <span class='yellow'>Swagat Satprem Jena</span> having a 5 years full-stack web development experience for global buisness, I offer the technical expertise you are seeking for your web developer position.</h6>
        <h6 class="para">Since earning my bachelor's degree in internet and web development from XYZ University, I have served as a web developer at <span class='yellow'>GeekyShow Technology</span>, one of biggest premier digital marketing and web development firm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retailand financial services.</h6>
        <h6 class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin fermentum orci laoreet facilisis. Phasellus sed consectetur ipsum. Sed a sapien ac diam pharetra consequat. Ut bibendum quam in nulla.</h6>
        <div class="btn-div">
            <a href="/contact" class="button-design hire-button">Hire Me</a>
            <a href="/contact" class="button-design contact-button">Contact</a>
        </div>
    </div>
</div>
<%- include('./partials/bottombasic.ejs') %>
