.service-section{
    width: 80vw;
    min-height: 100vh;
    margin-left: 20vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 40px;
    color: #fff;
}

.each-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    /* height: 100px; */
    /* background-color: aqua; */
    padding: 20px 10px;
    border-bottom: 2px solid #5BB318;
    margin: 10px 40px 10px 0;
}

.icon-color{
    color: #5BB318;
    font-size: 36px;
}

.service-name{
    margin-top: 10px;
}

.service-details{
    text-align: center;
    margin-top: 20px;
}